<div [style.backgroundImage]="'url(' + backgroundImageUrl + ')'">
<form class="formStyle"  [formGroup]="artistForm" (ngSubmit)="submitForm()">
  <div class="artistContainer">
    <div class="titleStyle">Artist Info</div>

    <div class="RowForm">
      <mat-form-field class="example-full-width">
        <mat-label for="firstName">First name</mat-label>
        <input id="firstName" formControlName="firstName" required minlength="3" matInput>
        <mat-error *ngIf="artistForm.get('firstName')?.hasError('required')">First Name is required</mat-error>
        <mat-error *ngIf="artistForm.get('firstName')?.hasError('minlength')">First Name must be at least 3 characters</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label for="lastName">Last Name</mat-label>
        <input id="lastName" formControlName="lastName" required minlength="3" matInput>
        <mat-error *ngIf="artistForm.get('lastName')?.hasError('required')">Last Name is required</mat-error>
        <mat-error *ngIf="artistForm.get('lastName')?.hasError('minlength')">Last Name must be at least 3 characters long</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <label for="dob">Date of Birth*</label>
        <input matInput [matDatepicker]="dobPicker" formControlName="dob" id="dob" required>
        <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
        <mat-datepicker #dobPicker></mat-datepicker>
        <mat-error *ngIf="artistForm.get('dob')?.hasError('minAge')"> Date of birth must be at least 25 years ago.</mat-error>
      </mat-form-field>
    </div>

    <div class="RowForm">
      <mat-form-field class="example-full-width">
        <mat-label for="email">Email</mat-label>
        <input id="email" formControlName="email" type="email" required matInput>
        <mat-error *ngIf="artistForm.get('email')?.hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="artistForm.get('email')?.invalid && artistForm.get('email')?.touched">Please enter a valid email address.</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label for="phoneNumber">Phone Number</mat-label>
        <input type="text" id="phoneNumber" formControlName="phoneNumber" required matInput>


        <mat-error *ngIf="artistForm.get('phoneNumber')?.hasError('required')">Phone Number is required</mat-error>
        <mat-error *ngIf="artistForm.get('phoneNumber')?.hasError('pattern')">Invalid phone number format</mat-error>
      </mat-form-field>

      <div class="example-full-width">
        <div class="imgContainerStyle">
          <div class="lableInputContainer">
            <mat-label class="imgLableStyle" for="profilePicture">Profile Picture*</mat-label>
            <input type="file" accept="image/*" (change)="onFileSelected($event, ArtistType,artistId)" id="profilePicture" formControlName="profilePicture" required>
          </div>

          <div style="padding-right: 20px;">
            <div><img style="max-width: 50px;" [src]="artistUrl" *ngIf="artistUrl"></div>
          </div>
        </div>

        <div style="height: 22px;">
          <div [innerHtml]="artistMsg" *ngIf="artistMsg" style="color: red;"></div>
          <mat-error *ngIf="artistForm.get('profilePicture')?.invalid && artistForm.get('profilePicture')?.touched">
            Profile picture is required.
          </mat-error>
        </div>
      </div>
    </div>

    <div class="RowForm">
      <mat-form-field class="example-full-width">
        <mat-label for="stageName">Stage Name</mat-label>
        <input id="stageName" formControlName="stageName" type="text" matInput>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label for="backstory">Artist Backstory</mat-label>
        <textarea matInput id="backstory" formControlName="backstory"></textarea>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <label for="startingDate">Starting Date</label>
        <input matInput [matDatepicker]="sDate" formControlName="startingDate" id="startingDate">
        <mat-datepicker-toggle matSuffix [for]="sDate"></mat-datepicker-toggle>
        <mat-datepicker #sDate></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <div class="artistContainer" formArrayName="albums">
    <div class="albumStyle" *ngFor="let album of albums; let i = index" [formGroupName]="i">
      <h4 class="titleStyle">Album {{ i + 1 }}</h4>
      <div class="RowForm">
        <mat-form-field class="example-full-width">
          <label for="albumName{{ i }}">Album Name</label>
          <input id="albumName{{ i }}" formControlName="name" type="text" matInput>
        </mat-form-field>

        <div class="example-full-width">
          <div class="imgContainerStyle ">
            <div class="lableInputContainer">
              <label style="color: black;" class="imgLableStyle" for="albumPicture{{ i }}">Album Picture</label>
              <input type="file" (change)="onFileSelected($event,AlbumType,i)" accept="image/*">
            </div>

            <div style="padding-right: 20px;">
              <div><img style="max-width: 50px;" [src]="getAlbumImg(i)"></div>
            </div>
          </div>
          <div style="height: 22px;">
            <div [innerHtml]="getErrMsg(i)" *ngIf="getErrMsg(i)" style="color: red;"></div>
          </div>
        </div>

        <mat-form-field class="example-full-width">
          <label for="albumDate{{ i }}">Album Date</label>
          <input matInput [matDatepicker]="albumDate" formControlName="date" id="albumDate{{ i }}" >
          <mat-datepicker-toggle matSuffix [for]="albumDate"></mat-datepicker-toggle>
          <mat-datepicker #albumDate></mat-datepicker>
        </mat-form-field>
      </div>

      <div formArrayName="songs">
        <div style="width: 95%;" *ngFor="let song of album.songs; let j = index" [formGroupName]="j">

          <h4 class="titleStyle">Song {{ j + 1 }}</h4>
          <div class="RowForm">
            <mat-form-field class="example-full-width">
              <label for="songName{{ j }}">Song Name</label>
              <input id="songName{{ j }}" formControlName="name" type="text" matInput>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <label for="songDuration{{ j }}">Song Duration</label>
              <input id="songDuration{{ j }}" formControlName="duration" type="text" matInput>
            </mat-form-field>
          </div>
        </div>
        <button class="btnStyle" mat-button type="button" (click)="addSong(i)">Add Song</button>
      </div>
    </div>

    <button class="btnStyle" mat-button type="button" (click)="addAlbum(artistId)">Add Album</button>
  </div>

  <button class="btnStyle" [disabled]="!artistForm.valid" mat-button type="submit">Register Artist</button>
</form>

<button class="btnStyle" mat-button (click)="saveForm()">Save Registred Artists</button>
</div>
