.header{
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.container{
  display: flex;
  flex-direction: column;
}

.body{
  margin-top: 60px;
  overflow-y: auto;
}
