<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="navBarrContainerStyle">
      <div *ngIf="isLogetIn === true" class="homeContainer">
        <img class="homeIconStyle" src="../../../assets/images/home.svg" [routerLink]="'/search'">
        <a class="linkStyle" [routerLink]="'/search'"> <img class="searchIcon" src="../../../assets/images/search.ico"> Search </a>
        <a class="linkStyle" [routerLink]="'/artistregistration'"> Artist Registration </a>
      </div>
      <a *ngIf="isLogetIn === true" class="linkStyle" [routerLink]="'/login'"> Log Out </a>

    </div>
  </mat-toolbar-row>
</mat-toolbar>
