.logInContainer{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleStle{
  font-size: 4rem;
  color: white;
  font-family: CircularSpTitle;
}
