.logInContainer{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.logInbtnStyle{
  position: relative;
  background: linear-gradient(180deg,#55ff92 25%, #008630 100%);
  box-shadow: -3px -3px 5px 0px #095725 inset;
  color: #000000;
  border-radius: 500px;
  font-size: inherit;
  padding: 14px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
}

.titleStle{
  font-size: 4rem;
  color: white;
  font-family: CircularSpTitle;
}
