.artistImgStyle{
  width: 200px;
  height: 200px ;
  border-radius: 50%;
}

.artistsContainerStyle{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.artistInfoStyle{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  justify-content: center;
  height: inherit;
  align-items: flex-start;
}

.artistLoopStyle{
  margin: 0 20px 20px;
  display: flex;
  flex-direction: row;
  height: 200px;
  align-items: center;
  width: 356px;
  justify-content: space-evenly;
  background: linear-gradient(180deg, #2c2c2b 25%, #114028 100%);
  box-shadow: -3px -3px 5px 0px #195c3c inset;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 64px;
}

.artistWithoutImgStyle{
  min-width: 200px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  border-radius: 50%;
}

.filled {
  color: gold; /* or any color you prefer for filled stars */
}

.empty {
  color: lightgrey; /* or any color you prefer for empty stars */
}

.half-filled {
  color: gold; /* or any color you prefer for half-filled stars */
  transform: scale(0.8); /* Adjust size to visually indicate half star */
}

.artistNameStyle{
  color: #668a0d;
  font-family: CircularSpTitle;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.artistLoopStyle:hover{
  background: linear-gradient(180deg, #424c3b 25%, #495b52 100%);
  box-shadow: -3px -3px 5px 0px #243c31 inset;
  cursor: pointer;
}

.searchInputStyle{
  background-color: #242424;
  border: 0;
  border-radius: 500px;
  color: #fff!important;
  min-height: 48px;
  padding: 6px 36px;
  text-overflow: ellipsis;
  width: 50%;
}

.searchContainerStyle{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
}

.inputContainerStyle{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0 20px 0;
  justify-content: center;
}

.followersStyle{
  color: #5c8a0d;
}

